$column-width: 480px;
$gutter-width: 20px;

//.app {
//    margin: auto;
//    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//    font-weight: 300;
//    text-align: center;
//}
//
//.section {
//    display: inline-block;
//    max-width: $column-width;
//    margin: $gutter-width;
//    text-align: left;
//    vertical-align: top;
//}
//




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//
//.react-player {
//    //margin-bottom: 10px;
//    background: rgba(0, 0, 0, .1);
//}
//
//.faded {
//    color: rgba(0, 0, 0, .5);
//}
//
//.footer {
//    margin: $gutter-width;
//}


