.cover-art {
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;
  background-color: #282828;

  &.shadow {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .cover-art-image {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
    transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: 50%;
    opacity: 0;
  }

  .cover-art-image-loaded {
    opacity: 1;
  }

  .icon {
    position: absolute;
    top: 35%;
    bottom: 35%;
    left: 35%;
    right: 35%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}


.current_track {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
    border-bottom-color: currentcolor;
  }
}


.progress-bar {
  height: 12px;
  position: relative;
  width: 100%;
}

.progress-bar__bg {
  background-color: #404040;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  width: 100%;
}

.progress-bar__fg {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0.7, 1);
  transition-timing-function: cubic-bezier(1, 0, 0.7, 1);
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
  width: 0;
  -webkit-transition-duration: .1s;
  transition-duration: 0.1s;
}

[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.middle-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

@font-face {
  font-family: glue1-spoticon;
  src: url(https://open.scdn.co/fonts/spoticon_regular_2.woff2) format("woff2"), url(https://open.scdn.co/fonts/spoticon_regular_2.woff) format("woff"), url(https://open.scdn.co/fonts/spoticon_regular_2.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}


html {
  background-color: #181818;
}

body, button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: none;
  font-family: var(--glue-font-family);
}

body {
  min-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overscroll-behavior-y: none;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  &:focus, &:hover {
    text-decoration: none;
    border-bottom-color: currentcolor;
  }
}

.Root__now-playing-bar {
  background-color: #323639; //#181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
}

.ExtraControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.volume-bar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-device-picker {
  position: relative;
}

.control-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #b3b3b3;
  width: 32px;
  min-width: 32px;
  height: 32px;
  position: relative;

  &:hover {
    color: #fff;

    &:active {
      color: #b3b3b3;
    }
  }
}

.control-button--active {
  color: #1db954;

  &:not(.control-button--disabled) {
    &:hover {
      color: #1ed760;
    }

    &:active {
      color: #b3b3b3;

      &:hover {
        color: #1db954;
      }
    }
  }
}

.control-button--circled {
  -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  -webkit-transition-property: all;
  transition-property: all;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 500px;
    border: 1px solid hsla(0, 0%, 100%, 0.6);
  }

  &:hover {
    -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
    transition: none 33ms cubic-bezier(0.3, 0, 0, 1);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: scale(1.06);
    transform: scale(1.06);

    &:after {
      border-color: #fff;
    }

    &:active {
      -webkit-transition: none;
      transition: none;
      -webkit-transform: scale(0.99);
      transform: scale(0.99);

      &:after {
        border-color: hsla(0, 0%, 100%, 0.6);
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .control-button--circled {
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
  }
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .control-button--circled:hover {
    -webkit-transition-duration: 66ms;
    transition-duration: 66ms;
  }
}

.now-playing-bar-container {
  min-width: 620px;
  //background-color: #282828;
  //border-top: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.now-playing-bar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 87px;
  padding: 0 16px;
}

.now-playing-bar__left {
  width: 30%;
  min-width: 180px;
}

.now-playing-bar__center {
  width: 40%;
  max-width: 722px;
}

.now-playing-bar__right {
  width: 30%;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.now-playing-bar__right__inner {
  width: 180px;
}


[dir=rtl] .spoticon-helpcircle-16:before {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.now-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.now-playing__cover-art {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.now-playing__widget-overlay {
  position: relative;
}

.now-playing__video-toggle {
  position: absolute;
  top: -15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  z-index: 2;
}

[dir=ltr] .now-playing__video-toggle {
  right: -5px;
}

[dir=rtl] .now-playing__video-toggle {
  left: -5px;
}

.now-playing__radio-icon {
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;

  svg {
    width: 50%;
    height: 50%;
    margin: 14px;
  }
}

[dir=ltr] .now-playing__radio-icon {
  left: 0;
}

[dir=rtl] .now-playing__radio-icon {
  right: 0;
}

.track-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 14px;
}

.track-info__name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-align: left;
}

[lang=ar] .track-info__name {
  letter-spacing: normal;
  line-height: 22px;
}

[dir=rtl] .track-info__name {
  text-align: right;
}

.track-info__artists {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  text-align: left;
}

[lang=ar] .track-info__artists {
  letter-spacing: normal;
}

.track-info__artists a {
  &:link, &:visited {
    color: #b3b3b3;
  }

  &:active, &:hover {
    color: #fff;
  }
}

[dir=rtl] .track-info__artists {
  text-align: right;
}

.playback-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  canvas {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
  }
}

.playback-bar__progress-time {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  min-width: 40px;
  text-align: center;
}

[lang=ar] .playback-bar__progress-time {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.player-controls {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.player-controls__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  margin-bottom: 12px;
  width: 224px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
