
[class*=" spoticon-"]:before, [class^=spoticon-]:before {
  font-family: glue1-spoticon, sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.spoticon-play-16:before {
  content: "\f132";
  font-size: 16px;
}

.spoticon-shuffle-16:before {
  content: "\f144";
  font-size: 16px;
}

.spoticon-skip-back-16:before {
  content: "\f146";
  font-size: 16px;
}

.spoticon-skip-forward-16:before {
  content: "\f148";
  font-size: 16px;
}

.spoticon-repeat-16:before {
  content: "\f13e";
  font-size: 16px;
}

.control-button--active-dot:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 50%;
  background-color: #1db954;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.spoticon-volume-16:before {
  content: "\f15e";
  font-size: 16px;
}

.spoticon-devices-16:before {
  content: "\f213";
  font-size: 16px;
}

.spoticon-added-16:before {
  content: "\f10a";
  font-size: 16px;
}

.spoticon-queue-16:before {
  content: "\f13a";
  font-size: 16px;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.now-playing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.now-playing__cover-art {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.now-playing__widget-overlay {
  position: relative;
}

.track-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 14px;
}

.track-info__name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  color: #fff;
  text-align: left;
}

.track-info__artists {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  text-align: left;

  a {
    &:link, &:visited {
      color: #b3b3b3;
    }

    &:active, &:hover {
      color: #fff;
    }
  }
}

.playback-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playback-bar__progress-time {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  min-width: 40px;
  text-align: center;
}

.player-controls {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.player-controls__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  margin-bottom: 12px;
  width: 224px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

@supports (-webkit-line-clamp: 2) {
}

.inputBox-input::placeholder {
  color: #535353;
}

.react-contextmenu-wrapper {
  display: inline;
}

.SearchInputBox__input::placeholder {
  color: #535353;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: spotify-circular-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Book.ttf) format("ttf");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: spotify-circular-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: spotify-circular-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff2) format("woff2"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.woff) format("woff"), url(https://open.scdn.co/fonts/CircularSpUIv3T-Black.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Light.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Light.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Light.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Regular.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Regular.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Bold.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Bold.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Regular.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Regular.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Regular.ttf) format("truetype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Bold.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Bold.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: noto-arabic-macos-10-14-and-up;
  src: url(https://open.scdn.co/fonts/NotoSansArabic-Black.woff2) format("woff2"), url(https://open.scdn.co/fonts/NotoSansArabic-Black.woff) format("woff"), url(https://open.scdn.co/fonts/NotoSansArabic-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


body {
  --glue-font-family: "spotify-circular", "noto-arabic", "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
  --glue-font-family-zh-TW: "spotify-circular", "noto-arabic", "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
  --glue-font-family-vi: "noto-arabic", "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", "PingFang TC", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", sans-serif;
  --glue-font-weight-normal: 200;
  --glue-font-weight-bold: 400;
  --glue-font-weight-black: 600;
}


[class*=" spoticon-"]:before, [class^=spoticon-]:before {
  font-family: glue1-spoticon;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.spoticon-pause-16:before {
  content: "\f130";
  font-size: 16px;
}

.spoticon-pause-24:before {
  content: "\f1D3";
  font-size: 24px;
}

.spoticon-pause-32:before {
  content: "\f131";
  font-size: 32px;
}

.spoticon-play-16:before {
  content: "\f132";
  font-size: 16px;
}

.spoticon-play-24:before {
  content: "\f1C8";
  font-size: 24px;
}

.spoticon-play-32:before {
  content: "\f133";
  font-size: 32px;
}

.spoticon-shuffle-16:before {
  content: "\f144";
  font-size: 16px;
}

.spoticon-shuffle-24:before {
  content: "\f1D5";
  font-size: 24px;
}

.spoticon-shuffle-32:before {
  content: "\f145";
  font-size: 32px;
}

.spoticon-skip-back-16:before {
  content: "\f146";
  font-size: 16px;
}

.spoticon-skip-back-24:before {
  content: "\f1D6";
  font-size: 24px;
}

.spoticon-skip-back-32:before {
  content: "\f147";
  font-size: 32px;
}

.spoticon-skip-forward-16:before {
  content: "\f148";
  font-size: 16px;
}

.spoticon-skip-forward-24:before {
  content: "\f1D7";
  font-size: 24px;
}

.spoticon-skip-forward-32:before {
  content: "\f149";
  font-size: 32px;
}

.spoticon-skipback15-16:before {
  content: "\f280";
  font-size: 16px;
}

.spoticon-skipback15-24:before {
  content: "\f3CC";
  font-size: 24px;
}

.spoticon-skipback15-32:before {
  content: "\f281";
  font-size: 32px;
}

.spoticon-skipforward15-16:before {
  content: "\f283";
  font-size: 16px;
}

.spoticon-skipforward15-24:before {
  content: "\f3CD";
  font-size: 24px;
}

.spoticon-skipforward15-32:before {
  content: "\f284";
  font-size: 32px;
}

.spoticon-repeat-16:before {
  content: "\f13e";
  font-size: 16px;
}

.spoticon-repeat-24:before {
  content: "\f1D4";
  font-size: 24px;
}

.spoticon-repeat-32:before {
  content: "\f13f";
  font-size: 32px;
}

.spoticon-repeatonce-16:before {
  content: "\f200";
  font-size: 16px;
}

.spoticon-repeatonce-24:before {
  content: "\f201";
  font-size: 24px;
}

.spoticon-repeatonce-32:before {
  content: "\f202";
  font-size: 32px;
}

.spoticon-menu-16:before {
  content: "\f1FD";
  font-size: 16px;
}

.spoticon-menu-32:before {
  content: "\f1FE";
  font-size: 32px;
}

.spoticon-artist-placeholder-32:before {
  content: "\f103";
  font-size: 32px;
}

.spoticon-track-16:before {
  content: "\f156";
  font-size: 16px;
}

.spoticon-track-32:before {
  content: "\f157";
  font-size: 32px;
}

.spoticon-video-16:before {
  content: "\f26B";
  font-size: 16px;
}

.spoticon-video-24:before {
  content: "\f2A0";
  font-size: 24px;
}

.spoticon-video-32:before {
  content: "\f26C";
  font-size: 32px;
}

.spoticon-volume-16:before {
  content: "\f15e";
  font-size: 16px;
}

.spoticon-volume-off-16:before {
  content: "\f1EF";
  font-size: 16px;
}

.spoticon-volume-onewave-16:before {
  content: "\f203";
  font-size: 16px;
}

.spoticon-volume-twowave-16:before {
  content: "\f206";
  font-size: 16px;
}

.spoticon-spotifylogo-16:before {
  content: "\f298";
  font-size: 16px;
}

.spoticon-spotifylogo-32:before {
  content: "\f299";
  font-size: 32px;
}

.spoticon-spotify-connect-16:before {
  content: "\f1A3";
  font-size: 16px;
}

.spoticon-spotify-connect-24:before {
  content: "\f1D8";
  font-size: 24px;
}

.spoticon-spotify-connect-32:before {
  content: "\f1A4";
  font-size: 32px;
}

.spoticon-connect-to-devices-16:before {
  content: "\f328";
  font-size: 16px;
}

.spoticon-connect-to-devices-32:before {
  content: "\f327";
  font-size: 32px;
}

.spoticon-device-arm-16:before {
  content: "\f305";
  font-size: 16px;
}

.spoticon-device-arm-32:before {
  content: "\f306";
  font-size: 32px;
}

.spoticon-device-car-16:before {
  content: "\f317";
  font-size: 16px;
}

.spoticon-device-car-32:before {
  content: "\f318";
  font-size: 32px;
}

.spoticon-device-computer-16:before {
  content: "\f29B";
  font-size: 16px;
}

.spoticon-device-computer-32:before {
  content: "\f29C";
  font-size: 32px;
}

.spoticon-device-mobile-16:before {
  content: "\f301";
  font-size: 16px;
}

.spoticon-device-mobile-32:before {
  content: "\f302";
  font-size: 32px;
}

.spoticon-device-multispeaker-16:before {
  content: "\f315";
  font-size: 16px;
}

.spoticon-device-multispeaker-32:before {
  content: "\f316";
  font-size: 32px;
}

.spoticon-device-other-16:before {
  content: "\f29F";
  font-size: 16px;
}

.spoticon-device-other-32:before {
  content: "\f300";
  font-size: 32px;
}

.spoticon-device-speaker-16:before {
  content: "\f29D";
  font-size: 16px;
}

.spoticon-device-speaker-32:before {
  content: "\f29E";
  font-size: 32px;
}

.spoticon-device-tablet-16:before {
  content: "\f303";
  font-size: 16px;
}

.spoticon-device-tablet-32:before {
  content: "\f304";
  font-size: 32px;
}

.spoticon-device-tv-16:before {
  content: "\f307";
  font-size: 16px;
}

.spoticon-device-tv-32:before {
  content: "\f308";
  font-size: 32px;
}

.spoticon-devices-16:before {
  content: "\f213";
  font-size: 16px;
}

.spoticon-devices-32:before {
  content: "\f214";
  font-size: 32px;
}

.spoticon-heart-16:before {
  content: "\f320";
  font-size: 16px;
}

.spoticon-heart-24:before {
  content: "\f3DB";
  font-size: 24px;
}

.spoticon-heart-32:before {
  content: "\f31F";
  font-size: 32px;
}

.spoticon-heart-active-16:before {
  content: "\f322";
  font-size: 16px;
}

.spoticon-heart-active-24:before {
  content: "\f3DC";
  font-size: 24px;
}

.spoticon-heart-active-32:before {
  content: "\f321";
  font-size: 32px;
}

.spoticon-block-16:before {
  content: "\f106";
  font-size: 16px;
}

.spoticon-block-32:before {
  content: "\f107";
  font-size: 32px;
}

.spoticon-ban-16:before {
  content: "\f31E";
  font-size: 16px;
}

.spoticon-ban-32:before {
  content: "\f31D";
  font-size: 32px;
}

.spoticon-thumbs-down-16:before {
  content: "\f14e";
  font-size: 16px;
}

.spoticon-thumbs-down-32:before {
  content: "\f14f";
  font-size: 32px;
}

.spoticon-thumbs-up-16:before {
  content: "\f150";
  font-size: 16px;
}

.spoticon-thumbs-up-32:before {
  content: "\f151";
  font-size: 32px;
}

.spoticon-ellipsis-16:before {
  content: "\f12c";
  font-size: 16px;
}

.spoticon-ellipsis-24:before {
  content: "\f12c";
  font-size: 24px;
  position: relative;
  top: 1px;
}

.spoticon-add-16:before {
  content: "\f138";
  font-size: 16px;
}

.spoticon-added-16:before {
  content: "\f10a";
  font-size: 16px;
}

.spoticon-remove-16:before, .spoticon-x-16:before {
  content: "\f160";
  font-size: 16px;
}

.spoticon-queue-16:before {
  content: "\f13a";
  font-size: 16px;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}

.spoticon-chart-down-16:before {
  content: "\f25E";
  font-size: 16px;
}

.spoticon-chart-down-32:before {
  content: "\f25F";
  font-size: 32px;
}

.spoticon-chart-new-16:before {
  content: "\f25B";
  font-size: 16px;
}

.spoticon-chart-new-32:before {
  content: "\f25C";
  font-size: 32px;
}

.spoticon-chart-up-16:before {
  content: "\f262";
  font-size: 16px;
}

.spoticon-chart-up-32:before {
  content: "\f263";
  font-size: 32px;
}

.spoticon-radio-24:before {
  content: "\f1C7";
  font-size: 24px;
}

.spoticon-search-24:before {
  content: "\f140";
  font-size: 24px;
}

.spoticon-add-to-playlist-24:before {
  content: "\f3AC";
  font-size: 24px;
}

.spoticon-browse-24:before {
  content: "\f393";
  font-size: 24px;
}

.spoticon-now-playing-24:before {
  content: "\f346";
  font-size: 24px;
}

.spoticon-artist-24:before {
  content: "\f392";
  font-size: 24px;
}

.spoticon-androidshare-24:before {
  content: "\f48f";
  font-size: 24px;
}

.spoticon-me-alt-24:before {
  content: "\f44A";
  font-size: 24px;
}

.spoticon-playlist-24:before {
  content: "\f3A2";
  font-size: 24px;
}

.spoticon-podcasts-16:before {
  content: "\f238";
  font-size: 16px;
}

.spoticon-fullscreen-16:before {
  content: "\f28C";
  font-size: 16px;
}

.spoticon-fullscreen-24:before {
  content: "\f3CE";
  font-size: 24px;
}

.spoticon-fullscreen-32:before {
  content: "\f28D";
  font-size: 32px;
}

.spoticon-minimise-16:before {
  content: "\f268";
  font-size: 16px;
}

.spoticon-minimise-24:before {
  content: "\f3CB";
  font-size: 24px;
}

.spoticon-minimise-32:before {
  content: "\f269";
  font-size: 32px;
}

.spoticon-helpcircle-16:before {
  content: "\f23B";
  font-size: 16px;
}

.spoticon-fullscreen-16:before {
  content: "\f28C";
  font-size: 16px;
}
